body, html {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  background: url(../img/nebula2.png) no-repeat center top;
  background-size: cover;
  margin: 0;
}

.nav-bar{
 display: flex;
 padding-top: 50px;
 height: 130px;
 width: 100%;
}

.nav-link {
  padding-top: 10px;
  color: white;
  flex: 2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  height: 35px;
  margin: 0 90px 0 90px;
}

.nav-link:hover{
  color: #9EC1AF;
  background-color: rgba(114, 114, 112, 0.3);
}

.circular-pic{
	border: 2px solid rgb(81, 34, 41);
	border-radius: 50%;
}

.profile{
	position: fixed;
	bottom: 20px;
	width: 100%;
	color: white;
}
